body {
    background-color: antiquewhite;
    margin: 150px;
    background-image: radial-gradient(black, transparent);
}

::placeholder {
    color: black;
}

h1 {
    color: rgb(31, 194, 16);
    font-size: xx-large;
}

form {
    width: 100%;
    height: 50px;
}

input {
    color: black;
    background-color: white;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}

u {
    color: black;
}

textarea {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}